<div class="container is-fluid">
    <br>
    <h1 style="color:#172B4C" class="title is-1 is-small-padding">
        Categories
    </h1>
    <br>
    <h1 class="subtitle is-4 is-medium-padding" <%if(source=="home"){%>class="active subtitle is-4 is-medium-padding selected"<%}%>> <i style="color:#F47C7C" class="fas fa-home fa-fw"></i> Home </h1>
    <h1 <%if(source=="settings"){%>class="selected"<%}%>> <i style="color:#F47C7C" class="fas fa-server fa-fw"></i>
        DNA
        Center
    </h1>
    <h1 class="subtitle is-4 is-medium-padding"><i style="color: #FFDAC1" class="fas fa-cloud fa-fw"></i>
        Meraki
    </h1>
    <h1 class="subtitle is-4 is-medium-padding"><i style="color: #B5EAD7" class="fas fa-cog fa-fw"></i>
        Settings
    </h1>
</div>