<!DOCTYPE html>
<html>

<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="public/css/dashboard.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
	<!-- Page Split into 1/4 and 3/4 -->
	<div class="columns ">
		<!-- Content in Side Bar (1/4) -->
		<div class="column is-one-quarter">
			<div class="container is-fluid">
				<br>
				<h1 style="color:#172B4C" class="title is-1 is-small-padding">
					Categories
				</h1>
				<br>
				<h1 style="color:#9f00ff" class="subtitle is-4 selected is-medium-padding"><i
						class="fas fa-home fa-fw"></i>
					Home
				</h1>
				<h1 class="subtitle is-4 is-medium-padding"><i style="color:#F47C7C" class="fas fa-server fa-fw"></i>
					DNA
					Center
				</h1>
				<h1 class="subtitle is-4 is-medium-padding"><i style="color: #FFDAC1" class="fas fa-cloud fa-fw"></i>
					Meraki
				</h1>
				<h1 class="subtitle is-4 is-medium-padding"><i style="color: #B5EAD7" class="fas fa-cog fa-fw"></i>
					Settings
				</h1>
			</div>
		</div>

		<!-- Content in main area (3/4) -->
		<div class="column" style="background: linear-gradient(to bottom, #172B4C 50%, #F6FAFD 50%); height: 100vh;">
			<div class="container is-fluid">
				<br>
				<h1 style="color: #ffff" class="title is-1 is-small-padding">Network Overview

					<span class="has-text-right refreshIcon"><i style="color:#ffff"
							class="fas fa-sync fa-fw"></i></span>
				</h1>
				<div class="field is-grouped is-grouped-multiline is-small-padding">
					<div class="control">
						<div class="tags has-addons">
							<span class="tag is-light">Meraki </span>
							<span class="tag is-success">Yes</span>
						</div>
					</div>

					<div class="control">
						<div class="tags has-addons">
							<span class="tag is-light">DNA-C</span>
							<span class="tag is-danger">No</span>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column box is-small-margin stats">
						<h1 class="subtitle has-text-dark">Number of Ports</h1>
						<h1 class="title has-text-dark">365</h1>
						<h1><span class="positive">+3.46%</span> since last month</h1>
					</div>
					<div class="column box is-small-margin stats">
						<h1 class="subtitle has-text-dark">Number of VLANs</h1>
						<h1 class="title has-text-dark">42</h1>
						<h1><span class="positive">+10.2%</span> since last month</h1>
					</div>
					<div class="column box is-small-margin stats">
						<h1 class="subtitle has-text-dark">Example</h1>
						<h1 class="title has-text-dark">42</h1>
						<h1><span class="positive">+10.2%</span> since last month</h1>
					</div>
					<div class="column box is-small-margin stats">
						<h1 class="subtitle has-text-dark">Example</h1>
						<h1 class="title has-text-dark">42</h1>
						<h1><span class="positive">+10.2%</span> since last month</h1>
					</div>
				</div>

				<!-- Area for large graphs -->
				<div class="columns">
					<div class="column box is-small-margin">
						<h3 class="subtitle center-align">Network Devices in Use</h3>
						<canvas id="myChart"></canvas>
					</div>
					<div class="column is-one-third box is-small-margin">
						<h3 class="subtitle center-align">Device Type</h3>
						<canvas id="myChart2"></canvas>
					</div>
				</div>

			</div>
		</div>
		<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-firestore.js"></script>
		<script src="public/js/script.js"></script>
</body>

</html>