<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard Settings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	    <link rel="stylesheet" href="public/css/dashboard.css">
	    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
    <body>
        <div class="columns ">
            <!-- Content in Side Bar (1/4) -->
            <div class="column is-one-quarter">
                <!-- Load the side-bar, passing an arguments with the page it originated from-->
                <%- include('../partials/sidebar', {source: "settings"});%>
            </div>
            <!-- Content in main area (3/4) -->
            <div class="column">
            </div>
    </body>
</html>